@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Inclusive+Sans:ital@0;1&family=Kumbh+Sans:wght@100..900&display=swap');
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(189, 206, 207);
    min-height: 100vh;  
    font-family: "Kumbh Sans";
}

body h1{
    font-size: 45px;
    padding: 20px;
    border-bottom: solid black;    
}

.sec{
    background-color: rgb(255, 255, 255);
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
    padding-top: 40px;
    margin-top: 100px;
    margin-bottom: 90px;
}

.div{
    margin-top: 60px;
}

.controle-form{
   /* margin-top: 20px ;*/
   display: flex;
   flex-direction: column;
} 

input[type=text]{
    width: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: rgb(189, 206, 207);
    resize: none;
    font-family: 'kumbh sans';
}

input[type=text]:focus {
    background-color: rgb(197, 227, 239);
  }